/*

Add styles or override variables from the theme here.

*/

$primary: #ffffff;
$secondary: #17a2b8;


$td-enable-google-fonts: true;
$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;

$navbar-dark-color: rgba(0,0,0, 1.0) !default;
$navbar-dark-hover-color: rgba(0,0,0, 0.5) !default;
$navbar-dark-active-color: #000000 !default;
$navbar-dark-disabled-color: rgba(0,0,0,0.7) !default;

$font-weight-bold: 1000 !default;

$yiq-contrasted-threshold: 100 !default;

h1.ds{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 50px;
}

.ds{
    filter: drop-shadow(2px 4px 6px black);
}

.headerlogo{
    max-width: 600px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.sectionlogo{
    max-width: 300px;
    margin-bottom: 0px;
    margin-top: 0px;
}


