---
title: About Protontypes
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About Protontypes" image_anchor="bottom" height="min" >}}

<p class="lead mt-5"> Accelerating your product development and prototyping with open and sustainable technology solutions.
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}

Protontypes estimates that open and transparent innovation strategies will grow rapidly in industries like, mobility, health, safety, manufacturing or renewable energy. We believe that sustainable and open technologies in combination with professional support find a critical mass to establish economic platforms.[[0]](https://a16z.com/2019/10/04/commercializing-open-source/) [[1]](https://www.bmwgroup.com/en/innovation/company/open-manufacturing-cloud.html) [[2]](https://singularityhub.com/2020/03/02/the-worlds-first-open-source-nuclear-reactor-blueprint-is-coming-online/) [[3]](https://techcrunch.com/2019/01/12/how-open-source-software-took-over-the-world/) [[4]](https://www.coronawarn.app/en/) [[5]](https://www.openairinterface.org/)


{{% /blocks/lead %}}

{{< blocks/lead >}}

Key technologies in most digital industries are today driven by open tooling and infrastructure. This includes the field of artificial intelligence, cloud computing, high performance computing, robotics, communication technology, embedded operation systems, security and data analysis. [[6]](https://www.zdnet.com/article/spacex-weve-launched-32000-linux-computers-into-space-for-starlink-internet/)

{{% /blocks/lead %}}

{{< blocks/lead >}}

The dominant IT companies owe much of their success to sustained investment in open software tools. These investments created an independent ecosystem for new innovations driving most of the software industry today. [[7]](https://en.wikipedia.org/wiki/Usage_share_of_operating_systems#Public_servers_on_the_Internet) [[8]](https://www.forbes.com/sites/adrianbridgwater/2019/09/07/the-impact-of-the-tech-giants-on-open-source/) 

Lost confidence in technology further reinforces this trend leading to open electronic solutions to create a complete chain of trust for data processing and communication. [[9]](https://riscv.org/) [[10]](https://opentitan.org/) [11](https://www.pine64.org/) [[12]](https://openpowerfoundation.org/) [[13]](https://www.ft.com/content/6863a21a-234a-11ea-92da-f0c92e957a96) [[14]](https://www.openairinterface.org/)

Robotics as a combination of multiple software and hardware domains is also showing this trend with estimated 55% of all shipped robots using the open source framework Robot Operating System (ROS) in 2024. [[15]](https://www.businesswire.com/news/home/20190516005135/en/Rise-ROS-55-total-commercial-robots-shipped) 

The knowledge about necessary development tools, strategies and methods was collected over five years based on open technologies in logistic and automotive. [[16]](https://rosindustrial.org/news/2020/5/11/guest-article-on-the-story-of-the-autonomous-logistics) [[17]](https://www.missinglinkelectronics.com/www/images/LandingPage/FPGA4ADAS_2/9_Augspurger_StreetScooter_Open-Source-System-Prototyping-in-Autonomous-Logistics.pdf) [[18]](https://www.fedscoop.com/open-source-solutions-playing-powerful-role-enterprise/) [[19]](https://www.techrepublic.com/article/how-powerdns-turned-abysmal-failure-into-open-source-success/) [[20]](https://www.techrepublic.com/article/what-lenovos-recent-announcement-means-for-linux-and-the-open-source-community/)

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}} 

{{% blocks/feature icon="fa fa-heartbeat" url="https://www.ft.com/content/7336d2a4-6e02-11ea-89df-41bea055720b" %}}

_"Free open availability of data and tools are critical for global health emergencies, and provisions to enable them must be built into governance models."_

Financial Times on the impact of Open Data and Technology as Covid-19 response

{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-cloud" url="https://www.techrepublic.com/article/whats-really-behind-microsofts-love-of-open-source/)" %}}

_"No dominant platform-level software infrastructure has emerged in the last ten years in closed-source, proprietary form"_

Techrepublic on the success of open technology in the cloud sector 

{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-rocket" url="https://www.zdnet.com/article/spacex-weve-launched-32000-linux-computers-into-space-for-starlink-internet/" %}}

_"Assuming the second-generation satellites carry the same number of Linux computers, it would mean SpaceX plans to send at least two million Linux computers into space in the next few years."_

ZDnet about the usage of Linux at SpaceX

{{% /blocks/feature %}}


