+++
title = "Protontypes"
linkTitle = "Protontypes"
+++

{{< blocks/cover image_anchor="top" height="full" color="blue" class="test" >}}
<img src="logo.svg" class="headerlogo"/>
    
<h1>
 <p style="color:white"> Accelerate your Innovation with Advanced Robotic Tooling </p>
</h1>


{{< blocks/link-down color="info" >}}


{{< /blocks/cover >}}


{{% blocks/lead color="blue" %}}

We are [**supporting**](services/) your organization in the adaptation of methods and open technologies from interdisciplinary areas such as autonomous driving to accelerate your development. Benefit from our professional experience in development environments for areas such as logistics, autonomous driving or robotics. Our services in software development, maintenance, consulting, DevOps, management and training will enable your organization to develop powerful applications based on open technologies and development methods.                          

<img src="protontypes_sections.png" class="sectionlogo"/>



{{% /blocks/lead %}}

{{% blocks/lead color="white" %}}

The principle of open scientific proof as in physics enables us to conquer the world. Open data, technology, evidence and software allow facts to be described and easily reproduced by others. It creates vendor-independent ecosystems and standards to advance technology and stop reinventing the wheel. Today, about 70% of source code analyses for security and risk assessment are already open source.

Find out more about this [**success story**](/about_open_innovation/).

{{% /blocks/lead %}}



{{% blocks/lead color="dark" %}}
Our training and consulting in [**InnerSource**](https://en.wikipedia.org/wiki/InnerSource) methods maximizes the success of innovation and development strategies through knowledge transfer within your teams.
Methods like Gitflow, Continuous Integration or Issue Triage create a transparent and traceable workflow across distributed teams. 
By an organization wide integrating of version control, template development, and automatic testing for all your product-related documentation, the quality of the individual release steps becomes measurable and transparent for each team member.
{{% /blocks/lead %}}

{{% blocks/lead color="white" %}}

Protontypes provides an [**Open Innovation Lab**](https://discourse.protontypes.eu) to bring together open source developers, investors and entrepreneurs. It is a place for interdisciplinary engineers and users to exchange knowledge and ideas on how to create business and innovation with the support of the community. Using the public community is optional. As business customers please [contact](/contact) our commercial services.                          

Find more information in our [**white paper**](/protontypes_white_paper.pdf).

{{% /blocks/lead %}}




{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa fa-tools" title="Liberate Your Organization" url="/services/open-tooling-and-development-environment" %}}
Benefit from professional experience in automotive, logistics and robotics. The success of your sustainable company development is our goal. 
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-book-open" title="Transparent, Automated and Community Defined Investment by OpenSelery" url="https://github.com/protontypes/openselery" %}}
All investments initiated by protontypes will be distributed between contributors by OpenSelery 
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-leaf" title="Non-Profit Support for New Sustainable Projects" url="/services/#how-can-my-organization-apply-for-non-profit-support-in-the-application-of-open-technology" %}}
Protontypes offers free training and support for start-ups and new open source projects in the field of sustainable technologies.
{{% /blocks/feature %}}

{{< /blocks/section >}}

