+++
title = "Protontypes"
linkTitle = "Protontypes"
+++

{{< blocks/cover image_anchor="top" height="full" color="blue" class="test" >}}
<img src="logo.svg" class="headerlogo"/>
<h1>
Standing on the shoulders of giants
</h1>

</br>
{{< blocks/link-down color="info" >}}




{{< /blocks/cover >}}

{{% blocks/lead color="dark" %}}

The principle of open scientific proof as in physics enables us to conquer the world. Open data, technology, evidence and software allow facts to be described and easily reproduced by others. It creates vendor-independent ecosystems and standards to advance technology and stop reinventing the wheel. Today, about 70% of source code analyses for security and risk assessment are already open source.

Find out more about this [**success story**](/about_open_innovation/).

{{% /blocks/lead %}}


{{% blocks/lead color="blue" %}}

Protontypes provides an [**accelerator**](https://discourse.protontypes.eu) platform for start-ups, research institutions, government agencies and established technology companies to support you in the development, knowledge transfer and integration of open technology in your organisation. It is a place for interdisciplinary engineers and users to exchange knowledge and ideas. The community offers a free and open platform to bring together inventors, developers and investors for new project ideas. 

{{% /blocks/lead %}}


{{% blocks/lead color="white" %}}

We [**supporting**](services/consulting/) your organization in the adaptation of methods and open technologies from interdisciplinary areas such as autonomous driving to accelerate your development. Our services in the areas of maintenance, consulting, DevOps, software management and training will enable your organization to develop powerful applications based on existing free technologies and community based development methods.  

[**InnerSource**](https://en.wikipedia.org/wiki/InnerSource) training and consulting enables you to maximise the success of development strategies through knowledge transfer within your teams. 
Methods like gitflow in combination with continuous integration create a transparent and traceable workflow across distributed teams. 
By integrating version control, template development, and automatic testing for all your product-related documentation, the quality of the individual release steps becomes measurable and transparent for each team member.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa fa-tools" title="Liberate Your Organization" url="/services/open-tooling-and-development-environment" %}}
Benefit from many years of professional experience, gained and passed on over 5 years in areas such as automotive, logistics and robotics. The success of your sustainable company development is our goal.{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-book-open" title="Transparent for Customers, Developers and Investors" url="https://github.com/protontypes/openselery" %}}
Protontypes is transparent and open in financing, roadmap, technology and communication. For the curious we offer transparent financial support for your open source project with [OpenSelery](https://github.com/protontypes/openselery) beta access.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-leaf" title="Non-Profit Support for New Sustainable Projects" url="/services/non-profit-support/" %}}
Protontypes free training and support for start-ups and new open source projects in the field of sustainable technologies. Please apply for a free evaluation phase of two months.
{{% /blocks/feature %}}

{{< /blocks/section >}}

