+++
title = "Protontypes"
linkTitle = "Protontypes"

+++

{{< blocks/cover title="Open Technology Accelerator" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/services" >}}">
		Services <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/protontypes">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Transform your Organisation with Efficient, Sustainable and Open Technology Solutions </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Protontypes provides a platform for start-ups, reseach facilities and established technology companies to support you in the development and integration of open technology in your organisaton.

Our focus is on robotics, transportation, artifical intelligent, big data and measurements techniques and renewable energy for sustainable and economic business solutions. 

From consulting on free licences, open businesss models, cooperative development, application, partner networking and training we offer the full bandwith of services to accelerate your organisation. 

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Non-Profit Support" url="/services/nonprofit" %}}
Protontypes offers non-profit support for start-ups in sustainable technology development. Please *[contact](/contact/)* us to apply for a free evaluation phase of 2 months.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-linux" title="Libarte your organisation with open tooling" url="/services/open-tooling" %}}
Benefit from longtime professional experiences based on *[awesome robotic tooling](https://github.com/Ly0n/awesome-robotic-tooling)*
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-handshake" title="Transparency" url="https://github.com/openselery" %}}
Protontypes is funded based on transparency in financing, technology and communication.
{{% /blocks/feature %}}

